# Αποκλεισμός φακέλου Elasticsearch
elasticsearch-8.17.2/

# Αποκλεισμός trec_eval (αν δεν θέλεις να ανέβει)
trec_eval/

# Αποκλεισμός logs και προσωρινών αρχείων
*.log
*.tmp
*.bak

# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# VSCode settings
.vscode/
